@{ 
    ViewBag.Title = "myTODO - Profile"; 
}

@section MainContent {
    <h2>
        Profile Updated</h2>
    <p>
        Your profile has been updated successfully.
    </p>
    <ul data-role="listview" data-inset="true">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
    </ul>
}
