@{ 
    ViewBag.Title = "myTODO - About"; 
}

@section MainContent {
    <div class="listHeader">
        <h2>
            About myTODO</h2>
        <p>
            myTODO is a sample application to manage and share simple lists, for example, tasks to complete, favorite movies, books you enjoyed, and so on. With full list management, you can cross off items, give them due dates, add, and remove items through a rich Ajax interface. 
        </p>
        <h3>
            About the Sample</h3>
        <p>
            The sample was built using <a href="http://www.asp.net/mvc/mvc4">ASP.NET MVC 4</a>, <a href="http://jquery.com/">jQuery</a> and <a href="http://www.windowsazure.com/en-us/home/features/sql-azure/">SQL Azure</a> for the underlying data store. It also exposes public lists through HTTP services using <a href="http://www.asp.net/web-api">ASP.NET Web API</a>.
        </p>
    </div>
}
